
html,body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #eee;
  height: 100%;
}

h1 {
  padding-left: 20px;
  font-family: Montserrat,sans-serif;
}


.loggin,.register{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  margin-top: 10%;
  padding: 30px;
}

.loggin .btn,.register .btn{
  width: 100%;
}

#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
    background-color: #ffffe6;
}

.flashes{
  list-style-type: none;
  color: #fff;
}
 #message{
   z-index: 1000;
 }

#message ul{
  list-style: none;
}

.card-img{
  width: 100%;
}

.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  line-height: .68;
  font-weight: 100;
  margin: .05em .1em 0 0;
  text-transform: uppercase;
  font-style: normal;
}

p{
  white-space: pre-line;
}

.container{
  background-color: white;
  padding: 20px;
}

.list-group-item{
  border: none;
}

.card .card-text{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comments{
  padding: 30px;
}

.remove{
  position:absolute;
  right: 10px;
  top:10px;
}

.img-left{
  height: 200px;
  width: 200px; 
  float: left;
  margin-right: 20px;
}

footer{
  padding: 20px;
  text-align: center;
  background-color: firebrick;
  color: white;
}

#main-content {
  min-height: calc(100vh - 91px);
}

.footer {
  height: 60px;
}


textarea{
  height: 150px;
}