{% extends "./layout/layout.html" %}
{% block content %}

<div class="container" style="text-align: center;margin-top: 20px;">
    <h1>
        {{data.title}}
    </h1>
    <p style="white-space: pre-line;text-align: left">
        {{data.content}}
    </p>
</div>

{% endblock content %}