{% extends "./layout/layout.html" %}
{% block content %}


<div class="container" style="background-color: white; padding: 20px;">
  <div class="search">
    <form action="/search" method="POST">
      {{ form.hidden_tag() }}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>

        {{ form.keyword(id="search",type="search", placeholder="Search blogs", class="form-control
        ")}}
        {{ form.submit(class_="btn btn-outline-success btn-sm") }}
      </div>
    </form>
  </div>
  <hr />
  <h2><i class="fa fa-rss-square" style="color: coral;" aria-hidden="true"></i> Hot Blog</h2>
  <div class="row" style="margin: 0 auto;">
    {% for post in topics %}
    <div class="col">
      <a href="/posts/{{post.id}}">
        <div class="card ml-2 text-white">
          <img class="card-img" style="height: 200px; filter: brightness(50%);" src="{{ url_for('static', filename='img/' + post.image_url) }}" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <hr />
  <h2><i class="fa fa-address-card" style="color: darkslateblue;" aria-hidden="true"></i> Recent blogs</h2>
  <div class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <img class="card-img img-left" src="{{ url_for('static', filename='img/' + post.image_url) }}" alt="Card image">
          <h5 class="card-title"><a href="/posts/{{post.id}}"> {{post.title}}</a></h5>
          <p class="card-text">{{post.content}}</p>
        </div>

      </div>
    </li>
    {% endfor %}
  </div>
</div>

{% endblock content %}