{% extends "./layout/layout.html" %}
{% block content %}

<div class="loggin">
  <form method="POST">
    <h1>Log in</h1>
    <hr />
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-md-12 mb-3">
        {% if form.email.errors %}
        {% set css_class = 'form-control is-invalid' %}
        {{ form.email(placeholder="Entre your email",class=css_class)}}
        {% else %}
        {{ form.email(placeholder="Entre your email",class="form-control")}}
        {% endif %}
        {% for error in form.email.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        {{ form.password(placeholder="Entre your password",class="form-control")}}
      </div>
    </div>
    <div class="form-row">
      {{ form.submit(class_="btn btn-success login-btn") }}
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </div>
  </form>
</div>



{% endblock content %}