{% extends "./layout/layout.html" %}
{% block content %}

<div class="container" style="background-color: white; padding: 20px;">
    <h2><i class="fab fa-blogger" style="color: dodgerblue;"></i> {{title}}</h2>

    <div class="list-group">
        {% if title=="All Posts"%}
        <h5>Sort By Date <span><a href="/posts?order=asc"><i class="fas fa-sort-amount-up"></i></a></span> <span><a
                    href="/posts?order=desc"><i class="fas fa-sort-amount-down"></i></a></span></h5>
        {%endif%}
        <hr />
        {% for post in posts %}
        <li id="post-{{post.id}}" class="list-group-item">
            <div class="card">
                <div class="card-body">
                    <img class="card-img img-left" src="{{ url_for('static', filename='img/' + post.image_url) }}" alt="Card image">
                    <h5 class="card-title"><a href="/posts/{{post.id}}"> {{post.title}}</a></h5>
                    <p class="card-text">{{post.content}}</p>
                    <p class="text-muted">
                        <b>Post On<b> {{post.created_at}}
                    </p>
                </div>
                {% if title=="Tagged Posts"%}
                <button class="btn btn-sm btn-danger remove"
                    onclick="removeItem(event, '{{post.id}}', '{{post.title}}')" href="/posts/remove/{{post.id}}"><i
                        class="fas fa-backspace"></i></button>
                {%endif%}
            </div>
        </li>
        {% endfor %}
    </div>
</div>

{% endblock content %}