{% extends "./layout/layout.html" %}
{% block content %}

<div class="container">
  <main>
    <article>
      <header>
        <h2>{{post.title}} </h2>
        <h5 class="text-muted" style="font-size: 15px;">by {{post.author}}  on  {{post.created_at}}</h5>
        <button type="button" onclick="like(event,'{{post.id}}')" class="btn btn-sm btn-primary">
          <i class="fa fa-thumbs-up" style="color: white;" aria-hidden="true"></i> <span id="liked">{{liked}}</span>
        </button>
        {% if tagged %}
        <button type="button" id="untag" style="color: white;" onclick="untag(event,'{{post.id}}')"
          class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Untag the post">
          <i class="fas fa-backspace"></i> UnTag
        </button>
        <button type="button" id="tag" style="color: white; display: none" onclick="tag(event,'{{post.id}}')"
          class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Tag the post">
          <i class="fa fa-tag" aria-hidden="true"></i> Tag
        </button>
        {% else %}
        <button type="button" id="untag" style="color: white; display: none" onclick="untag(event,'{{post.id}}')"
          class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Untag the post">
          <i class="fas fa-backspace"></i> UnTag
        </button>
        <button type="button" id="tag" style="color: white;" onclick="tag(event,'{{post.id}}')"
          class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Tag the post">
          <i class="fa fa-tag" aria-hidden="true"></i> Tag
        </button>
        {% endif %}
        <hr />
        <div style="font-size: 1.25rem; line-height: 2;text-align: justify; max-width: 760px; margin: 0 auto;">
          <img align="right" style="margin:10px 0 0 10px;" width="300" src="{{ url_for('static', filename='img/' + post.image_url) }}" alt="">
          <p class="has-drop-cap">{{post.content}}
          </p>
        </div>
    </article>
    <hr />
    <div class="comments">

      <form method="POST">
        <h5>Write a comment</h5>
        {{ form.hidden_tag() }}
        {{form.content(placeholder="What you want to say?",class="form-control",row="3")}}
        <br>
        {{form.submit(class="btn btn-primary")}}
      </form>
      <hr />
      <div class="list-group">
        <h5>Comments <i class="fas fa-comment"></i> {{comments|length}}</h5>
        {% for comment in comments %}

        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              <p class="card-title">{{comment.username}} says:</p>
              <p class="card-text">{{comment[0].content}}</p>
              <p class="text-muted">
                <i>On {{comment[0].created_at}}</i>
              </p>
            </div>
          </div>
        </li>
        {% endfor %}
      </div>

    </div>
    {% for error in form.content.errors %}
    <div>
      {{ error }}
    </div>
    {% endfor %}
  </main>
</div>

{% endblock content %}