{% extends "./layout/layout.html" %}
{% block content %}


<div class="register">
  <form method="POST">
    <h1>Register</h1>
    <hr />
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-md-12 mb-3">
        {% if form.username.errors %}
        {% set css_class = 'form-control is-invalid' %}
        {{ form.username(placeholder="Entre your username",class=css_class)}}
        {% else %}
        {{ form.username(placeholder="Entre your username",class="form-control")}}
        {% endif %}
        {% for error in form.username.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        {% if form.email.errors %}
        {% set css_class = 'form-control is-invalid' %}
        {{ form.email(placeholder="Entre your email",class=css_class,title="we'll never share your email with anyone else",data_toggle="tooltip",data_placement="bottom")}}
        {% else %}
        {{ form.email(placeholder="Entre your email",class="form-control",title="we'll never share your email with anyone else",data_toggle="tooltip",data_placement="bottom")}}
        {% endif %}
        {% for error in form.email.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        {% if form.password.errors %}
        {% set css_class = 'form-control is-invalid' %}
        {{ form.password(placeholder="Entre your password",class=css_class,title="password should be between 6 and 8
        characters long",data_toggle="tooltip",data_placement="bottom")}}
        {% else %}
        {{ form.password(placeholder="Entre your password",class="form-control",title="password should be between 6 and
        8 characters long",data_toggle="tooltip",data_placement="bottom")}}
        {% endif %}
        {% for error in form.password.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        {% if form.confirm_password.errors %}
        {% set css_class = 'form-control is-invalid' %}
        {{ form.confirm_password(placeholder="Entre your confirm_password",class=css_class,title="Repeat the
        password",data_toggle="tooltip",data_placement="bottom")}}
        {% else %}
        {{ form.confirm_password(placeholder="Confirm password",class="form-control",title="Repeat the
        password",data_toggle="tooltip",data_placement="bottom")}}
        {% endif %}
        {% for error in form.confirm_password.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-row">
      {{ form.submit(class_="btn btn-success login-btn") }}
      <p class="message">Have an account? <a href="/login">Log in</a></p>
    </div>
  </form>
</div>

{% endblock content %}