{% extends "./layout/layout.html" %}
{% block content %}
<div class="container">
  <div class="search">
    <form action="/search" method="POST">
      {{ form.hidden_tag() }}
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>

        {{ form.keyword(id="search",type="search", placeholder="Search blogs", class="form-control
        ")}}
        {{ form.submit(class_="btn btn-outline-success btn-sm") }}
      </div>
    </form>
  </div>
  <hr />
  <h2><i class="fa fa-search" style="color: purple;"></i> {{title}}</h2>
  <div class="list-group">

    {% for post in posts %}

    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="/posts/{{post.id}}"> {{post.title}}</a></h5>
          <p class="card-text">{{post.content}}</p>
          <p class="text-muted">
            <b>Post On<b> {{post.created_at}}
          </p>
        </div>

      </div>
    </li>
    {% endfor %}
  </div>
</div>


{% endblock content %}