<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <title>{{ title }}</title>

</head>

<body>
  <main id="main-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><i style="color: goldenrod;" class="fas fa-blog"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/tagged">Tagged Blogs</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Hello, {{ current_user.username }}!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}"> Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Hello, Guest!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div id="message" style="position: fixed; top: 100px;right: 0;">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>



    {% block content %}
    {% endblock %}

  </main>
  <footer>
    <div>
      <div class="row justify-content-md-center">
        <div class="col-sm-4">
          <h6>Contact details</h6>
          <email>WangR51@cardiff.ac.uk</email>
        </div>
        <div class="col-sm-4">
          <h6><a style="color: white;" href="/policy">Privacy policy</a></h6>
        </div>
        <div class="col-sm-4">
          <h6><a style="color: white;" href="/disclaimer">Disclaimer</a></h6>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='javascript.js') }}"></script>
  <script>
    setTimeout(e => {
      document.getElementById('message').style.display = 'none'
    }, 5000)
  </script>
</body>

</html>